.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post-array {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.post-it-note {
  background: #f3e779;
  min-width: 200px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}

.post-it-note-content {
  transform: rotate(-15deg);
  width: 200px;
  text-align: center;
}

.importance {
  
}
