.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post-array {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.post-it-note {
  background: #f3e779;
  min-width: 200px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  font-family: cursive;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.post-it-note-form {
  background: #f3e779;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.form-input {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  min-width: 150px;
}

.delete-show {
  display: none;
  padding: 15px;
  background: red;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 35%;
  justify-content: center;
  align-items: center;
}

.post-it-note:hover {
  background: grey;
}

.post-it-note:hover .delete-show {
  opacity: none;
  display: initial;
  border: none;
}

.post-it-note-content {
  transform: rotate(-15deg);
  width: 200px;
  text-align: center;
}

.box {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.high {
  color: #f26419;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.med {
  color: #2980b9;
  padding: 0 15px 0 0;
}

.low {
  color: #758e4f;
  padding: 0 15px 0 0;
}

.sort-button-group {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.app-title {
  margin: 10px;
}

.reset-button {
  max-width: 50px;
  border: 1px solid black;
  background: rgb(233, 231, 231);
  border-radius: 2px;
  font-size: 14px;
  padding: 3px;
}

.reset-button > div {
  cursor: pointer;
  padding: 0 30px 0 30px;
}

.button-group-for-create-form {
  display: flex;
  justify-content: center;
}

.button-group-for-create-form > div {
  margin-left: 10px;
}

.hidden-sort {
  display: none;
}

.show-sort-button {
  display: inline-block;
  justify-content: flex-start;
  margin-left: 10px;
}

.drop-down-button-group {
  display: flex;
  flex-direction: row;
}

.drop-down-button {
  border: 1px solid black;
  background: #2980b9;
  width: 50px;
  height: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
}

.collapsed-drop-down {
  display: none;
}

.open-drop-down {
  border: 1px solid #2980b9;
  width: 200px;
  height: 100px;
  margin-left: 2px;
  border-radius: 10px;
  padding: 10px;
}
